*.class
*.log
*.class
*.log
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
project/project/
project/target/
project/target/config-classes/$0863751315335b20dc9d.cache
project/target/config-classes/$320ead5c67c94d1f5e41.cache
project/target/config-classes/$5ae25f35581cd5a7f156.cache
project/target/config-classes/$63f0afb0286d23158bad.cache
project/target/config-classes/$7cb5633e9a262075f571.cache
project/target/config-classes/$88b826890c47b589fd04.cache
project/target/scala-2.12/
project/target/streams/
target/.history

target/scala-2.12/
target/streams/
target/test-reports/